<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <!--        Bootstrap and jquery -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" rel="stylesheet"/>
    <script crossorigin="anonymous"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script
            crossorigin="anonymous"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css"/>
    <!--        Bootstrap and jquery -->
    <meta charset="UTF-8">
    <title>Информация о теге</title>
</head>
<body>
<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!--        OFFCANVAS TRIGGER-->
        <button aria-controls="offcanvasExample" class="navbar-toggler me-2" data-bs-target="#offcanvasExample"
                data-bs-toggle="offcanvas"
                type="button">
            <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
        </button>
        <!--        OFFCANVAS TRIGGER-->
        <a class="navbar-brand fw-bold text-uppercase me-auto" href="/">Guide Vologda</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto ">
                <div class="input-group my-1 mb-lg-0">
                    <input aria-describedby="button-addon2" aria-label="Recipient's username" class="form-control"
                           placeholder="Поиск..." type="text">
                    <button class="btn btn-primary" id="button-addon2" type="button"><i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdown" role="button">
                        <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
                        <span><i class="bi bi-person-fill"></i></span>
                    </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/profile}">Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" th:href="@{/logout}">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--NAVBAR-->
<!--OFFCANVAS-->
<div aria-labelledby="offcanvasExampleLabel" class="offcanvas offcanvas-start bg-dark text-white sidebar-nav"
     id="offcanvasExample"
     tabindex="-1">
    <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
            <ul class="navbar-nav">
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">
                        ОСНОВНОЕ
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 active" href="/">
                        <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                        <span>Панель управления</span>
                    </a>
                </li>
                <li class="my-4">
                    <hr class="dropdown-divider"/>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="text-muted small fw-bold text-uppercase px-3">
                        АДМИНИСТРИРОВАНИЕ
                    </div>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a aria-controls="collapseAdmin" aria-expanded="false" class="nav-link px-3 sidebar-link"
                       data-bs-toggle="collapse"
                       href="#collapseAdmin" role="button">
                        <span class="me-2"><i class="bi bi-people"></i></span>
                        <span>Пользователи</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="collapseAdmin">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a class="nav-link px-3" th:href="@{/admin/users}">
                                        <span class="me-2"><i class="bi bi-list"></i></span>
                                        <span>Список</span>
                                    </a>
                                </li>
<!--                                <li>-->
<!--                                    <a class="nav-link px-3" href="#">-->
<!--                                        <span class="me-2"><i class="bi bi-question-circle"></i></span>-->
<!--                                        <span>Заявки на доступ</span>-->
<!--                                    </a>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="my-4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <hr class="dropdown-divider"/>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                    <div class="text-muted small fw-bold text-uppercase px-3">
                        РЕДАКТИРОВАНИЕ
                    </div>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                    <a aria-controls="collapseHomeEntity" aria-expanded="false" class="nav-link px-3 sidebar-link"
                       data-bs-toggle="collapse"
                       href="#collapseHomeEntity" role="button">
                        <span class="me-2"><i class="bi bi-house"></i></span>
                        <span>Объект на главном экране</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="collapseHomeEntity">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a class="nav-link px-3" th:href="@{/homeentity}">
                                        <span class="me-2"><i class="bi bi-info-square"></i></span>
                                        <span>Информация</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                    <a aria-controls="collapseCafes" aria-expanded="false" class="nav-link px-3 sidebar-link"
                       data-bs-toggle="collapse"
                       href="#collapseCafes" role="button">
                        <span class="me-2"><i class="bi bi-bezier2"></i></span>
                        <span>Типы объектов</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="collapseCafes">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a class="nav-link px-3" th:href="@{/typesofentities/new}">
                                        <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                                        <span>Добавить</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link px-3" th:href="@{/typesofentities}">
                                        <span class="me-2"><i class="bi bi-list"></i></span>
                                        <span>Список</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                    <a aria-controls="collapseHoles" aria-expanded="false" class="nav-link px-3 sidebar-link"
                       data-bs-toggle="collapse"
                       href="#collapseHoles" role="button">
                        <span class="me-2"><i class="bi bi-geo-alt"></i></span>
                        <span>Объекты</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="collapseHoles">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a class="nav-link px-3" th:href="@{/entities/new}">
                                        <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                                        <span>Добавить</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link px-3" th:href="@{/entities}">
                                        <span class="me-2"><i class="bi bi-list"></i></span>
                                        <span>Список</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                    <a aria-controls="collapseStreets" aria-expanded="false" class="nav-link px-3 sidebar-link"
                       data-bs-toggle="collapse"
                       href="#collapseStreets" role="button">
                        <span class="me-2"><i class="bi bi-map"></i></span>
                        <span>Улицы</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="collapseStreets">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                                    <a class="nav-link px-3" th:href="@{/streets/new}">
                                        <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                                        <span>Добавить</span>
                                    </a>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                                    <a class="nav-link px-3" th:href="@{/streets}">
                                        <span class="me-2"><i class="bi bi-list"></i></span>
                                        <span>Список</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                    <a aria-controls="collapseTags" aria-expanded="false" class="nav-link px-3 sidebar-link"
                       data-bs-toggle="collapse"
                       href="#collapseTags" role="button">
                        <span class="me-2"><i class="bi bi-hash"></i></span>
                        <span>Теги</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="collapseTags">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                                    <a class="nav-link px-3" th:href="@{/tags/new}">
                                        <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                                        <span>Добавить</span>
                                    </a>
                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                                    <a class="nav-link px-3" th:href="@{/tags}">
                                        <span class="me-2"><i class="bi bi-list"></i></span>
                                        <span>Список</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                    <a aria-controls="collapseTouristPlaces" aria-expanded="false" class="nav-link px-3 sidebar-link"
                       data-bs-toggle="collapse"
                       href="#collapseContactTypes" role="button">
                        <span class="me-2"><i class="bi bi-chat-dots"></i></span>
                        <span>Типы контактов</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="collapseContactTypes">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a class="nav-link px-3" th:href="@{/contacttypes/new}">
                                        <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                                        <span>Добавить</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link px-3" th:href="@{/contacttypes}">
                                        <span class="me-2"><i class="bi bi-list"></i></span>
                                        <span>Список</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_EDITOR', 'ROLE_ADMIN')">
                    <a aria-controls="collapseTouristPlaces" aria-expanded="false" class="nav-link px-3 sidebar-link"
                       data-bs-toggle="collapse"
                       href="#collapseTracks" role="button">
                        <span class="me-2"><i class="bi bi-cursor"></i></span>
                        <span>Треки</span>
                        <span class="right-icon ms-auto"><i class="bi bi-chevron-down"></i></span>
                    </a>
                    <div class="collapse" id="collapseTracks">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a class="nav-link px-3" th:href="@{/tracks/new}">
                                        <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                                        <span>Добавить</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link px-3" th:href="@{/tracks}">
                                        <span class="me-2"><i class="bi bi-list"></i></span>
                                        <span>Список</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>


            </ul>
        </nav>
    </div>
</div>
<!--OFFCANVAS-->
<!--CONTENT-->
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 dw-bold fs-3">
                <h2 th:text="${tag.name}"></h2>
            </div>
        </div>
        <form th:object="${tag}">
            <div class="container mb-3">
                <h4 class="mb-3">Иноформация о теге</h4>
                <p th:text="${errorMessage}"></p>
                <div class="row g-3">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="name">Название</label>
                            <input class="form-control" disabled id="name" name="name"
                                   placeholder="Введите название объекта"
                                   th:field="*{name}" type="text"/>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="nameEn">Название на английском</label>
                            <input class="form-control" disabled id="nameEn" name="nameEn"
                                   placeholder="Введите название на английском"
                                   th:field="*{nameEn}" type="text"/>
                        </div>

                    </div>
                    <p style="color: red" th:text="${error}"></p>
                </div>
                <a class="btn btn-outline-primary mt-3" th:href="${'/tags/' + tag.id + '/edit'}">Изменить</a>
                <a class="btn btn-outline-danger mt-3" th:href="${'/tags/' + tag.id + '/delete'}">Удалить</a>
            </div>
        </form>
    </div>
</main>
<!--CONTENT-->
</body>
</html>